*{
    font-family:Cursive;
    }
#heading {
			text-align: center;
		}

		#ramana {
                 width:400px;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }
		#vidya {
                 width:400px;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }
		#sagar {
                 width:80%;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }

		.ramana { 
			margin:0;
			text-align: center;
			background-color:pink;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.ramana1 {
			margin-top:40px;
		}

		.vidya { 
			margin:0;
			text-align: center;
			background-color:red;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.vidya1 {
			margin-top:40px;
		}

		.sagar { 
			margin:0;
			text-align: center;
			background-color:yellow;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.sagar1 {
			margin-top:40px;
		}



@media (min-width:768px;) and (max-width:991px;) {
	    #ramana {
                 width:400px;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }
		#vidya {
                 width:400px;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }
		#sagar {
                 width:100%;
                 height:155px;
                 float:left;
                 margin-left:30px;
                 border:5px solid black;
                 background-color:gray;
                 margin-top:40px;
		    }

		.ramana { 
			margin:0;
			text-align: center;
			background-color:pink;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.ramana1 {
			margin-top:40px;
		}

		.vidya { 
			margin:0;
			text-align: center;
			background-color:red;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.vidya1 {
			margin-top:40px;
		}
		.sagar { 
			margin:0;
			text-align: center;
			background-color:yellow;
			float:right;
			height:30px;
			width:100px;
			border:3px solid black;
		}
		.sagar1 {
			margin-top:40px;

		}
	}
